<h4>Formularios <small> Reactivo </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               [class.is-invalid]="nombreNoValido"
               formControlName="nombre">
               <small *ngIf="nombreNoValido" class="text-danger">
                Ingrese 5 Letras
               </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               [class.is-invalid]="apellidoNoValido"
               formControlName="apellido">
               <small *ngIf="apellidoNoValido" class="text-danger">
                Ingrese 5 Letras
               </small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             [class.is-invalid]="correoNoValido"
             formControlName="correo">
             <small *ngIf="correoNoValido" class="text-danger">
              Ingrese correo valido oshtia
             </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Usuario</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Nombre de Usuario"
             [class.is-invalid]="usuarioNoValido"
             formControlName="usuario">
             <small *ngIf="usuarioNoValido" class="text-danger">
              Ese nombre de usuario ya existe
             </small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Contraseña</label>
    <div class="col">
      <input class="form-control"
             type="password"
             placeholder="Contraseña"
             [class.is-invalid]="pass1NoValido"
             formControlName="pass1">
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Repita Contraseña</label>
    <div class="col">
      <input class="form-control"
             type="password"
             placeholder="Repita Contraseña"
             [class.is-invalid]="pass2NoValido"
             formControlName="pass2">
    </div>
  </div>

  <div class="form-group row" formGroupName="dirreccion">
    <label class="col-2 col-form-label">Dirección</label>
    <div class="form-row">
      <div class="col-8">

        <input type="text"
              class="form-control"
              placeholder="Distrito"
              [class.is-invalid]="distritoNoValido"
              formControlName="distrito">
      </div>
      <div class="col-8">

        <input type="text"
              class="form-control"
              placeholder="Ciudad"
              [class.is-invalid]="ciudadNoValido"
              formControlName="ciudad">
      </div>
    </div>
  </div>

  <div class="form-group row">
    <div class="col">

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ID</th>
            <th>Pasatiempos</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let item of pasatiempos.controls; let i  = index">
            <td> {{ i + 1}}</td>
            <td>
              <input class="form-control"
                      type="text"
                      [formControlName]  = "i"/>
            </td>
            <td>
              <button
              class="btn btn-danger"
              type="button"
              (click)="borrarElemento(i)">Borrar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-primary mt-3 mb-5 btn-block"
              type="button"
              (click)="agregarPasatiempo()">
        + Agregar
      </button>
    </div>
  </div>

  <div class="form-group row" >
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
<hr>
<pre>
  Estado del formulario: {{forma.valid}}
  <br>
  Status: {{forma.value | json}}
</pre>
